.preGameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffd2a0;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 300px;
  width: 100%;
  margin: 0;
  color: black;
  backdrop-filter: blur(1px);
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.diffButton {
  background-color: white;
  border: none;
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
  width: 80%;
  margin: 0.5rem 0rem;
}

.diffButton:hover {
  background-color: black;
  color: white;
}

[data-theme="dark"] .diffButton {
  background-color: #333333;
  color: white;
}

[data-theme="dark"] .diffButton:hover {
  background-color: black;
  color: white;
}
@media (max-width: 600px) {
  .preGameContainer {
    margin: 2rem auto;
    width: 90%;
    padding: 1.5rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  .diffButton {
    width: 80%;
    font-size: 1.1rem;
  }
}
